<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <img width="55" height="55" src="../../assets/images/logo_sem_fundo.png"/>
      <ion-label class="nomeMenu">Prato do Dia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <img width="55" height="55" src="../../assets/images/ICONE2.png"/>
      <ion-label class="nomeMenu">Ocupação</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <img width="55" height="55" src="../../assets/images/ICONE3.png"/>
      <ion-label class="nomeMenu">Chef</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <img width="55" height="55" src="../../assets/images/ICONE1.png"/>
      <ion-label class="nomeMenu">Informações</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
