<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CHEF'S</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="page-background">
    <div class="container">
      <ion-card *ngFor="let f of chef" class="mb-10 card-img">
        <img (click)="openModal(f.imagem, f.nome,f.id,f.departamento,f.funcao,f.endereco,f.email)"
          alt="Silhouette of mountains" src="{{f.imagem}}" width="190" height="140" />
        <ion-card-header>
          <ion-card-title (click)="openModal(f.imagem, f.nome,f.id,f.departamento,f.funcao,f.endereco ,f.email)">{{
            f.nome }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>