<ion-content [fullscreen]="true">
    <div class="page-background">
        <div class="container">
            <img src="../../assets/images/logo_sem_fundo.png" class="logo" />
            <div class="content-container">
                <div class="header">
                    <h2><strong>{{username}}</strong>, Bem vindo(a) ao</h2>
                    <h1>TRAPEZARIA</h1>
                    <hr class="horizontal-bar">
                </div>

                <div class="content">
                    <p>
                        Uma Aplicação que da suporte ao seu refeitório tem como objetivo principal informar o que há disponível para comer, venha descobrir o que mais será possível!!
                    </p>
                    <strong>ATT: Toque em um botão abaixo e descubra</strong>
                </div>
            </div>
        </div>
    </div>
</ion-content>