<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>HISTORICO </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeHistorico()">Fechar</ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="page-background">
    <div class="container">
      <ion-card *ngFor="let p of pratos" class="mb-10 card-img">
        <img (click)="openModal(p.imagem, p.nome_do_prato, p.descricao, p.id, p.data_refeicao)" alt="Silhouette of mountains"
          src="{{p.imagem}}" width="190" height="140" />
        <ion-card-header>
          <ion-card-title (click)="openModal(p.imagem, p.nome_do_prato, p.descricao, p.id, p.data_refeicao)">
            {{p.nome_do_prato}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>