<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>PoliticaPrivacidade</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closePolitica()">Fechar</ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div>
        <p>Nós, Julio Chilela, respeitamos sua privacidade e estamos comprometidos a proteger as informações pessoais que você compartilha conosco. Esta política descreve como coletamos, usamos e protegemos seus dados ao utilizar nosso aplicativo de restaurante.
        </p>

        <div>
            <h2>
                1. Coleta de Dados
            </h2>
            <ol>
                <li>Código de entrada</li>
                <li>Nome</li>
                <li>E-mail</li>
                <li>Departamento</li>
                <li>Observações/li>
            </ol>
        </div>

        <h2>2. Uso dos Dados</h2>
        Os dados coletados são utilizados para:
        <ol>
            <li>Fornecer informações sobre o prato do dia no restaurante da empresa</li>
            <li>Garantir a personalização e o bom funcionamento do aplicativo</li>

        </ol>

        <h2>3. Compartilhamento de Dados</h2>
        Nós não compartilhamos seus dados com terceiros, exceto quando necessário para o funcionamento seguro do aplicativo ou quando exigido por lei.
        <h2>4. Segurança dos Dados</h2>

        Implementamos medidas de segurança, como criptografia de dados, para proteger suas informações contra acesso não autorizado, uso indevido ou divulgação.
        <h2>5. Retenção e Exclusão de Dados</h2>

        Seus dados serão mantidos durante o período em que você estiver trabalhando na empresa e utilizando o aplicativo. Após o término do seu contrato de trabalho ou a pedido, os dados serão excluídos.


        <h2>6. Contato</h2>
        Se você tiver dúvidas ou preocupações sobre esta política de privacidade, entre em contato conosco pelo e-mail:
        <strong>jchilela1@gmail.com.</strong> </div>

</ion-content>