.page-background {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(4, 10, 46, 0.92); /* Cor de fundo com transparência */
    overflow: hidden;
  }
  
  .page-background::before {
    content: "";
    background-image: url('../../../assets/images/imagemDeFundo.jpg');
    background-size:cover; /* Ajuste o tamanho conforme necessário */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-position: center;
    background-attachment:scroll; /* Pode tornar a imagem de fundo fixa */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;  
    z-index: -1;
  }
  
  ion-title{
    text-align: center;
    font-size: 24px;
  }
  
  .container{
    padding: 20px;
  }
  
   .mb-10{
    margin-bottom: 20px;
    background-color: rgba(118, 120, 127, 0.146);
    
   }
  
   ion-card-title{
    color: white;
    text-align: center;
    font-size: 24px;
    
   }
  
   ion-card-subtitle{
    color: #0abf04;
    font-size: 17px;
   }
   
   .modalConteudo{
    margin-bottom:10px
   }
  
   .imgPadrao{
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    bottom:0;
    margin-bottom: 10px;
   }
  
   .d-none{
    display: none;
   }
  
   .card-img{
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
   }
  
  .horizontal-bar {
    border: none;
    border-top: 2px solid black; /* Estilize a barra horizontal conforme necessário */
    margin: 10px 10px; /* Adicione margem acima e abaixo da barra */
  }
  
  .detalhesModal{
    color: white;
    font-size: 14px;
    
  }
  
  .background-card{
    background-color: rgba(243, 244, 247, 0.03);
  }
  
  .h3-modal{
    color:white;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .rating{
    color: #0abf04;
    text-align: center;
    font-size: 21px;
    margin-top: 5px;
    
  }
  
  .buttonModal{
    background-color:#0abf04;
    color: white;
    border: none; /* Remove a borda do botão */
    border-radius: 5px; /* Borda arredondada para o botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    font-size: 16px; /* Tamanho da fonte do botão */
    cursor: pointer; 
    font-size: 21px;
    
  }

  .buttonModal1{
    background-color:#0abf04;
    color: white;
    border: none; /* Remove a borda do botão */
    border-radius: 5px; /* Borda arredondada para o botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    font-size: 16px; /* Tamanho da fonte do botão */
    cursor: pointer; 
    font-size: 21px;
    
  }
  
  .bar-estrelas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
    font-size: 19px;
    
  }
  
  .media_Tamnho{
    font-size: 35px;
    text-align: center;
  }
  
  .pb-0{
    padding: 0 !important;
  }

/* Adicione estes estilos no seu arquivo de estilos CSS global */
.custom-modal{
  padding: 0 !important;
}

.inner-scroll{
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
}